body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to left, #009030, #003090);
}

h1 {
  color: #60F0F0;
}

p {
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.List {
  list-style: none;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0rem auto;
  border: 0.2rem solid rgba(0, 0, 0, 0.233);
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
  background-color: #60F0F0;
  margin: 1rem;
}

.List-header {
  display: flex;
  align-items: center;
  width: 30%;
}

.List-header h2 {
  font-size: xx-large;
}

.List-img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin-right: 0.5rem;
  background-color: white;
}

.List-favNum {
  width: 15%;
  text-align: left;
}

.List-item {
  width: 15%;
  text-align: left;
}

.List-note {
  width: 30%;
  text-align: left;
}

.AddToList {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto
}

.AddToList-input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.5rem;
  font-size: 1.3rem;
  margin: 0.3rem 0rem;
  border-radius: 0.5rem;
}

.AddToList-btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #0c586d;
  font-weight: bold;
  color: white;
  border: none;
  border: 0.2rem solid rgba(0, 0, 0, 0.233);
  border-radius: 0.5rem;
}